* {
  padding: 0px;
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  background-color: #cecece;
  color: #222;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 20px;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.box{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: purple;
}

.circle-element{
  /* border-radius: 50%; */
}

.active {
  text-decoration: underline;
}

.link{
  margin: 0 10px;
  font-size: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 700;
}